table ,td
{
    border:5px solid blue;
    border-collapse: collapse;
    margin: auto 25%;
}
.box
{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
}
.boxclicked
{
    height: 100px;
    width: 100px;
    background-color: rgb(101, 226, 43);
}